.header {
  $b: &;

  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-white;
  border-bottom: 1px solid $color-form-border;
  z-index: 10;
  overflow: hidden;

  @include ruleMin(position, (xs: fixed, md: absolute));
  @include ruleMin(height, (xs: 60px, sm: 110px));

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 100%;

    @include ruleMin(justify-content, (xs: center, md: space-between));
    @include ruleMin(padding, (xs: 0 20px, lg: 0 50px));
  }

  &__burger {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__logo {
    @include ruleMin(margin-left, (md: -22px));
    @include ruleMin(margin-right, (xs: -16px, md: 0));
  }

  &__phone {
    @include rule(display, (md: none));
    @include ruleMin(margin-right, (lg: 102px));
  }

  &__close {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    margin-right: 57px;
    margin-left: auto;
    transition: opacity $ease-main;
    opacity: 0;
    visibility: hidden;

    @include ruleMin(display, (xs: none, sm: flex));
    @include ruleMin(position, (sm: absolute, md: static));
    @include ruleMin(top, (sm: 0, md: auto));
    @include ruleMin(right, (sm: 0, md: auto));

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__cross {
    width: 30px;
    height: 30px;
    fill: $color-cross-dark;
  }

  &_fxp {
    @include ruleMin(height, (xs: 72px, sm: 80px, md: 110px));

    #{$b} {

      &__wrapper {
        @include ruleMin(justify-content, (xs: center, sm: space-between));
        @include ruleMin(padding, (xs: 0 8px, sm: 0 20px, lg: 0 50px));
      }

      &__logo {
        @include ruleMin(margin-left, (sm: -22px));
        @include ruleMin(margin-right, (xs: 0));
      }

      &__phone {
        @include ruleMin(display, (xs: none, sm: inline-flex));
        @include ruleMin(margin-right, (lg: 0));
      }
    }
  }
}
