// #####
// Календарь
// #####

@import '../../node_modules/air-datepicker/dist/css/datepicker.css';

.js-datepicker { cursor: pointer; }

.datepicker {
  color: $color-basic;
  font-size: 16px;
  width: 280px;
  background: white;
  border: none;
  box-shadow: none;
  border-radius: 0;
  transition: opacity $ease-main, transform $ease-main, left 0s $ease-main;
  font-family: $font-main;

  &.-from-bottom- {
    transform: translateY(8px);
  }

  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity $ease-main, transform $ease-main, left 0 0;
  }
}

// Стрелочка сверху над блоком

.datepicker--pointer {
  display: none;
  border-top-color: $color-white;
  border-right-color: $color-white;
}

// Цвет дней недели

.datepicker--day-name {
  color: $color-red;
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
}

// Ячейка со стрелкой

.datepicker--nav-action {
  border-radius: 0;
  transition: color $ease-main, background-color $ease-main;

  // Цвет стрелок
  path { stroke: $color-basic; }
}

// Шапка календаря

.datepicker--nav {
  border-color: $color-border;
  border-bottom: none;

  // Ячейка с заголовком месяца/года

  &-title {
    color: $color-basic;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0;
    transition: color $ease-main, background-color $ease-main;

    // Цвет года в шапке

    i {
      color: rgba($color-basic, .5);
    }
  }
}

// Цвет ховера по ячейкам в календаре, шапке

.datepicker--cell.-focus-, .datepicker--nav-action:hover, .datepicker--nav-title:hover {
  background: rgba($color-border, .3);
}

// Стиль ячейки

.datepicker--cell {
  border-radius: 0;
  transition: color $ease-main, background-color $ease-main;

  // Цвет сегодняшнего даты/месяца

  &.-current- {
    color: $color-days;
    background: rgba($color-main, .1);
  }

  // Ховер по активной дате

  &.-selected-.-focus- {
    background: rgba($color-calendar-range, .2);
  }

  // Неактивная ячейка

  &.-disabled- {
    color: rgba($color-basic, .3);
  }

  // Цвет фона активного месяца/дня

  &.-selected-, &.-selected-.-current- {
    background: $color-main;
    color: $color-days;
  }
}

// Цвет даты другого месяца/года

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: $color-days-disabled;

  &:hover { color: $color-days-disabled; }
}

// Стили при выборе диапазона дат

.datepicker--cell.-range-to-, .datepicker--cell.-range-from- {
  border: 0;
  background-color: rgba($color-calendar-range, .2);

  &.-selected- {
    background-color: rgba($color-calendar-range, .2);
  }
}

.datepicker--cell.-range-from- {
  border-radius: 0;
}

.datepicker--cell.-range-to- {
  border-radius: 0;
}

// Стили ячеек другого месяца, находящихся в диапазоне

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba($color-main, .1);
  color: rgba($color-main, .3);

  &.-focus- {
    background-color: rgba($color-main, .2);
  }
}

// Стили промежуточных ячеек в диапазоне

.datepicker--cell.-in-range- {
  background: rgba($color-main, .2);
  color: $color-main;
  border-radius: 0;

  &.-current- {
    color: $color-basic;
  }

  &.-focus- {
    background: rgba($color-main, .3);
  }
}
