.checkradio {
  position: relative;
  padding-left: 27px;
  display: inline-block;
  cursor: pointer;

  $b: &;

  &__box {
    position: absolute;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 2px solid $color-form-border;
    left: 0;
    top: 2px;
  }

  &__check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    width: 15px;
    height: 12px;
    fill: $color-red;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    transition: opacity $ease-main;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &:checked {

      & ~ .checkradio__box .checkradio__check {
        opacity: 1;
      }
    }

    &[type='radio'] ~ .checkradio__box {
      border-radius: 50%;
    }
  }

  &__content {
    @include ruleMin(font-size, (xs: 14px, sm: 16px));

    font-weight: 300;
    line-height: 20px;
    color: $color-checkbox-text;

    #{$b}_fz15 & {
      @include ruleMin(font-size, (xs: 14px, sm: 15px));
    }

    .link {
      display: inline;
      color: $color-checkbox-text;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}
