.form {
  display: block;
  width: 100%;

  $b: &;

  &__section {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 26px, sm: 30px));
    }
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;

    &:not(:last-child) {
      @include ruleMin(margin-bottom, (xs: 16px, sm: 14px));
    }

    &_mb28 {

      &:not(:last-child) {
        @include ruleMin(margin-bottom, (xs: 18px, sm: 28px));
      }
    }

    &_sm-mb40 {

      &:not(:last-child) {
        @include ruleMin(margin-bottom, (xs: 40px, sm: 14px));
      }
    }
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    color: $color-gray-text;

    .link {
      display: inline;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }

    &:not(:first-child) {
      margin-top: 15px;
    }

    &:not(:last-child) {
      @include ruleMin(margin-bottom, (xs: 20px));
    }

    &_note {
      font-size: 14px;
      font-weight: 300;
      color: $color-note-text;

      &:not(:first-child) {
        margin-top: 14px;
      }
    }

    &_chd {
      @include ruleMin(font-size, (xs: 14px, sm: 16px));

      font-weight: 300;
      line-height: 20px;
      color: $color-checkbox-text;
    }
  }

  &__button {
    min-width: 169px;

    &_wide {
      width: 100%;
    }
  }

  &__content {
    display: block;
    transition: opacity $ease-main;

    @include ruleMin(border-top, (xs: 1px solid $color-form-border, sm: 2px solid $color-form-border));
    @include ruleMin(padding-top, (xs: 20px, sm: 18px));

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 26px, sm:35px));
    }
  }

  &__checkers {
    display: block;
    width: 100%;

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 15px, sm: 44px));
    }
  }

  &__checker {

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 9px, sm: 18px));
    }
  }

  &__note {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: $color-note-text;

    &_centered {
      text-align: center;
    }

    &_mt20 {

      &:not(:first-child) {
        @include ruleMin(margin-top, (xs: 16px, sm: 20px));
      }
    }
  }

  &__triggers {
    display: block;
    width: 100%;

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 36px, sm: 36px));
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 22px, sm: 22px));
    }

    &_mtb {

      &:not(:first-child) {
        @include ruleMin(margin-top, (xs: 35px, sm: 44px));
      }
    }
  }

  .is-disabled {
    display: none;
  }

  &__notes {
    display: block;
    width: 100%;
  }

  &__payment {
    @include ruleMin(border-top, (xs: 1px solid $color-form-border, sm: 2px solid $color-form-border));
    @include ruleMin(padding-top, (xs: 30px, sm: 37px));
    @include ruleMin(margin-bottom, (xs: -21px, sm: -23px));

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 30px, sm: 30px));
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__total {
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -.05em;
  }

  &__price-text {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: $color-gray-text;
  }

  &__agreements {

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__agreement {

    &:not(:first-child) {
      margin-top: 7px;
    }
  }

  &__add {

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 29px, sm: 32px));
    }
  }

  &__additional {
    @include ruleMin(min-width, (xs: 238px, sm: 266px));
  }

  &__childes {
    display: block;
    width: 100%;
  }

  &__child {
    position: relative;
    display: block;
    width: 100%;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &-remove {
      position: absolute;
      top: 60px;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 45px;
      height: 45px;
      transform-origin: 50% 50% 0;
      transform: translate3d(60px, 0, 0);

      #{$b}__child:first-child & {
        display: none;
      }
    }

    &-cross {
      fill: $color-cross-dark;
      width: 15px;
      height: 15px;
    }
  }
}
