.input {
  padding: 0 16px;
  height: 50px;
  border: 1px solid $color-border;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  border-radius: 0;
  min-height: 0;
  background-color: white;
  transition: border $ease-main, box-shadow $ease-main;

  &:focus, &.focus {
    box-shadow: inset 0 -3px 0 -1px $color-basic;
    border-bottom-color: $color-basic;
  }

  &_noborder {
    @include screen('sm', min) {
      border-color: transparent;
    }
  }

  &_time {
    @include screen('sm', min) {
      background-image: url('../images/calendar.svg');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: calc(100% - 16px) 50%;
    }
  }

  .is-error & {
    background-image: url('../images/error.svg');
    background-repeat: no-repeat;
    background-size: 21px 19px;

    @include ruleMin(background-position, (xs: calc(100% - 9px) 50%, sm: calc(100% - 16px) 50%));
    @include ruleMin(padding-right, (xs: 40px, sm: 50px));
  }

  .is-success & {
    background-image: url('../images/ok.svg');
    background-repeat: no-repeat;
    background-size: 22px 21px;

    @include ruleMin(background-position, (xs: calc(100% - 9px) 50%, sm: calc(100% - 16px) 50%));
    @include ruleMin(padding-right, (xs: 40px, sm: 50px));
  }
}

.textarea {
  @extend .input;

  padding-top: 14px;
  padding-bottom: 14px;
  resize: none;
  box-sizing: border-box;

  @include ruleMin(height, (xs: 120px, sm: 128px));

  &_noborder {
    @include screen('sm', min) {
      border-color: transparent;
    }
  }

  .is-error & {
    @include ruleMin(background-position, (xs: calc(100% - 9px) 15px, sm: calc(100% - 16px) 15px));
  }

  .is-success & {
    @include ruleMin(background-position, (xs: calc(100% - 9px) 15px, sm: calc(100% - 16px) 15px));
  }
}
