// #####
// Кастомные селекты
// #####

@import '../../node_modules/choices.js/public/assets/styles/choices.min.css';

.select {
  appearance: none;

  @extend .input;
}

.choices {
  $b: &;

  margin-bottom: 0;

  &__inner, &[data-type*='select-one'] &__inner {
    @extend .select;

    transition: border-color $ease-main;
    overflow: hidden;
  }

  &[data-type*='select-one'] {

    .choices__inner { padding-bottom: 0; }

    &::after {
      display: none;
    }
  }

  &__toggle {
    position: absolute;
    top: 50%;
    height: 18px;
    width: 10px;
    transform-origin: 50% 50% 0;
    transform: translate3d(0, -50%, 0) rotate(90deg);
    transition: transform $ease-main;

    @include ruleMin(right, (xs: 12px, sm: 20px));

    #{$b}.is-open & {
      transform: translate3d(0, -50%, 0) rotate(-90deg);
    }

    .is-error &, .is-success & {
      opacity: 0;
    }
  }

  &__scrollblock {
    display: block;
    width: 100%;
    max-height: 100px;
    box-sizing: border-box;

    .os-content {
      visibility: inherit;
    }
  }

  &__list {
    border-color: $color-border;

    &--single {
      display: table;
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      padding-right: 20px;
      overflow: hidden;

      .choices__item {
        display: table-cell;
        vertical-align: middle;
        box-sizing: border-box;
      }
    }

    &--dropdown {
      box-sizing: border-box;

      .choices__list {
        max-height: none;
      }

      .choices__item {
        padding: 10px;

        &--selectable {
          transition: opacity $ease-main;

          &.is-highlighted {
            opacity: .5;
            background-color: white;
          }
        }
      }
    }
  }

  &.is-open & {

    &__inner { border-color: $color-border; }

    &__list {
      &--dropdown { border-color: $color-border; }
    }
  }
}
