mixin text-block()
  +b.text-block&attributes(attributes)
    block

mixin text-block-title(tag)
  +e(tag || 'h3').title&attributes(attributes)
    block

mixin text-block-text()
  +e.text&attributes(attributes)
    block

mixin ui-kit-text-block()
  +ui-section
    +ui-section-head
      +ui-title Блок text-block
      +ui-path
        p Блок: blocks/text-block/text-block
      +ui-description
        p Описание Блока

    +ui-section-content()
      +text-block
        +text-block-title Заголовок
        +text-block-text Текст
        +text-block-text._fz20 Текст fz20

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
