extends ../../layouts/default

block head
  - var pageTitle = Electorlux + ' | Карта верстки'

block content
  +b.sitemap
    .container
      +e.B.title Попапы
      br
      +e.A.link.js-fancybox(href="#popup-no-mc") Попап нет мк по запросу
      +e.A.link.js-fancybox(href="#popup-registration-success") Попап успешная регистрация
      br
      br
      +e.B.title Страницы
      br
      +e.A.link(href="ui-kit.html") UI-kit (ui-kit.html)
      +e.A.link(href="index.html") Electrolux | Мастер классы (index.html)
      //- +e.A.link(href="fixprice.html") Electrolux | Ремонт по фиксированной стоимости (fixprice.html)
