@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: 100%;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
  box-sizing: border-box;

  @include ruleMin(padding, (xs: 0 $container-padding, lg: 0 25px));

  &_half {
    @include ruleMin(max-width, (xs: none, sm: $container-width / 2));
  }

  &_start {
    margin-left: 0;

    @include ruleMin(padding-left, (xs: 20px, lg: 112px));
  }

  &_end {
    margin-right: 0;

    @include ruleMin(padding-right, (xs: 20px, lg: 96px));
  }
}

.js-sr {
  visibility: hidden;
}

.is-hidden {
  display: none;
}

.is-hidden-sm {
  @include screen('sm') {
    display: none;
  }
}

.is-hidden-xl {
  @include screen('sm', min) {
    display: none;
  }
}
