.link {
  color: $color-main;
  border: 0;
  transition: fill $ease-main, color $ease-main, opacity $ease-main, border-color $ease-main;
  fill: currentColor;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;

  $b: &;

  &:hover {
    color: $color-blue-mid;
  }

  &__text {

    #{$b}_underline & {
      border-bottom: 1px solid;
      border-color: currentColor;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    flex-shrink: 0;
    margin-right: 10px;
  }

  &.is-disabled {
    pointer-events: none;
    opacity: .5;
  }
}
