.navigation {
  $b: &;

  display: block;
  width: 100%;
  z-index: 7;
  height: 60px;
  transition: opacity $ease-main;

  @include ruleMin(position, (xs: fixed, sm: relative));
  @include ruleMin(top, (xs: 0, sm: auto));
  @include ruleMin(left, (xs: 0, sm: auto));
  @include ruleMin(opacity, (xs: 0, sm: 1));
  @include ruleMin(visibility, (xs: hidden, sm: visible));

  &.is-sticky {
    @include ruleMin(opacity, (xs: 1, sm: 1));
    @include ruleMin(visibility, (xs: visible, sm: visible));
  }

  &__wrapper {
    width: 100%;
    background-color: $color-bg-gray;

    #{$b}.is-sticky & {
      @include screen('sm', min) {
        position: fixed;
        top: 0;
        left: 0;
      }
    }
  }

  &__header {
    @include ruleMin(display, (xs: flex, sm: none));
    @include ruleMin(font-size, (xs: 15px, sm: 16px));
    @include ruleMin(padding, (xs: 0 20px, lg: 0 25px));

    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    font-weight: 600;
    line-height: 18px;
    background-color: $color-silk-rich;
    color: $color-white;
    z-index: 2;
    box-sizing: border-box;
  }

  &__arrow {
    width: 11px;
    height: 20px;
    transform-origin: 50% 50% 0;
    transform: rotate(90deg);
    fill: currentColor;
    transition: transform $ease-main;

    #{$b}.is-opened & {
      transform: rotate(-90deg);
    }
  }

  &__name {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__list {
    @include ruleMin(display, (xs: block, sm: flex));
    @include ruleMin(opacity, (xs: 0, sm: 1));
    @include ruleMin(transform, (xs: translate3d(0, -100%, 0), sm: translate3d(0, 0, 0)));
    @include ruleMin(position, (xs: absolute, sm: static));
    @include ruleMin(top, (xs: 0, sm: auto));
    @include ruleMin(left, (xs: 0, sm: auto));
    @include ruleMin(height, (xs: calc(100vh - 60px), sm: auto));
    @include ruleMin(padding-top, (xs: 60px, sm: 0));
    @include ruleMin(pointer-events, (xs: none, sm: auto));

    width: 100%;
    justify-content: flex-start;
    transition: transform $ease-main, opacity $ease-main;
    background-color: $color-bg-gray;
    z-index: 1;

    #{$b}.is-opened & {
      @include ruleMin(transform, (xs: translate3d(0, 0, 0), sm: translate3d(0, 0, 0)));
      @include ruleMin(opacity, (xs: 1, sm: 1));
      @include ruleMin(pointer-events, (xs: auto, sm: auto));
    }
  }

  &__item {
    @include ruleMin(border-bottom, (xs: 2px solid $color-form-border, sm: none));
  }

  &__link {
    @include ruleMin(font-size, (xs: 15px, sm: 16px));
    @include ruleMin(padding, (xs: 0 20px, lg: 0 25px));
    @include ruleMin(height, (xs: 58px, sm: 60px));
    @include ruleMin(justify-content, (xs: flex-start, sm: center));
    @include ruleMin(text-align, (xs: left, sm: center));

    color: $color-basic;
    font-weight: 600;
    line-height: 18px;
    transition: background-color $ease-main, color $ease-main;
    display: flex;
    align-items: center;

    &.is-active {
      @include ruleMin(background-color, (xs: $color-white, sm: $color-silk-rich));
      @include ruleMin(color, (sm: $color-white));
    }
  }

  .container {
    @include rule(padding, (sm: 0));
  }
}
