mixin navigation()
  - var menu = [{name: 'Расписание мастер&#8209;классов', id: 'mc', class: 'is-hidden-mdxl'}, {name: 'Кулинарные пространства', id: 'kitchen-msc'}, {name: 'Мастер&#8209;класс для детей', id: 'childrens-mc'}, {name: 'Бренд&#8209;шеф', id: 'chef'}, {name: 'Акция от White Rabbit Family', id: 'whiterabbit'}, {name: 'Записаться на мк', id: 'order'}]
  +b.NAV.navigation&attributes(attributes)(data-navigation)
    +e.wrapper
      .container
        +e.header.js-show-nav-list.is-hidden-xl
          +icon('arrow').__arrow
          +e.name(data-active-link-title)
        +e.list
          each item in menu
            +e.item(class=item.class)
              +e.A.link(href='#' + item.id data-nav-link=item.id)!=item.name
    block

mixin ui-kit-navigation()
  +ui-section
    +ui-section-head
      +ui-title Блок navigation
      +ui-path
        p Блок: blocks/navigation/navigation
      +ui-description
        p Описание Блока

    +ui-section-content()
      +navigation

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
