.navigation {
  $b: &;

  display: block;
  width: 100%;
  z-index: 7;
  transition: opacity $ease-main;

  @include ruleMin(position, (xs: fixed, md: relative));
  @include ruleMin(top, (xs: 0, md: auto));
  @include ruleMin(left, (xs: 0, md: auto));
  @include ruleMin(opacity, (xs: 0, md: 1));
  @include ruleMin(visibility, (xs: hidden, md: visible));
  @include ruleMin(height, (xs: 100%, md: 60px));

  &.is-opened {
    @include ruleMin(opacity, (xs: 1, md: 1));
    @include ruleMin(visibility, (xs: visible, md: visible));
  }

  &__wrapper {
    width: 100%;
    background-color: $color-bg-gray;

    @include ruleMin(height, (xs: 100%, md: auto));
    @include ruleMin(overflow, (xs: auto, md: hidden));

    #{$b}.is-sticky & {
      @include screen('md', min) {
        position: fixed;
        top: 0;
        left: 0;
      }
    }
  }

  &__header {
    display: none;

    @include ruleMin(font-size, (xs: 15px, md: 16px));
    @include ruleMin(padding, (xs: 0 20px, lg: 0 25px));

    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    font-weight: 600;
    line-height: 18px;
    background-color: $color-silk-rich;
    color: $color-white;
    z-index: 2;
    box-sizing: border-box;
  }

  &__arrow {
    width: 11px;
    height: 20px;
    transform-origin: 50% 50% 0;
    transform: rotate(90deg);
    fill: currentColor;
    transition: transform $ease-main;

    #{$b}.is-opened & {
      transform: rotate(-90deg);
    }
  }

  &__name {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__list {
    height: auto;

    @include ruleMin(display, (xs: block, md: flex));
    @include ruleMin(opacity, (xs: 0, md: 1));
    @include ruleMin(transform, (xs: translate3d(0, -100%, 0), md: translate3d(0, 0, 0)));
    // @include ruleMin(position, (xs: absolute, md: static));
    // @include ruleMin(top, (xs: 0, md: auto));
    // @include ruleMin(left, (xs: 0, md: auto));
    // @include ruleMin(height, (xs: calc(100vh - 60px), md: auto));
    @include ruleMin(padding-top, (xs: 60px, sm: 110px, md: 0));
    @include ruleMin(pointer-events, (xs: none, md: auto));

    width: 100%;
    justify-content: flex-start;
    transition: transform $ease-main, opacity $ease-main;
    background-color: $color-bg-gray;
    z-index: 1;

    #{$b}.is-opened & {
      @include ruleMin(transform, (xs: translate3d(0, 0, 0), md: translate3d(0, 0, 0)));
      @include ruleMin(opacity, (xs: 1, md: 1));
      @include ruleMin(pointer-events, (xs: auto, md: auto));
    }
  }

  &__item {
    @include ruleMin(border-bottom, (xs: 2px solid $color-form-border, md: none));
  }

  &__link {
    @include ruleMin(font-size, (xs: 15px, sm: 16px));
    @include ruleMin(padding, (xs: 0 20px, md: 0 8px, lg: 0 25px));
    @include ruleMin(height, (xs: 58px, md: 60px));
    @include ruleMin(justify-content, (xs: flex-start, sm: center));
    @include ruleMin(text-align, (xs: left, sm: center));

    color: $color-basic;
    font-weight: 600;
    line-height: 18px;
    transition: background-color $ease-main, color $ease-main;
    display: flex;
    align-items: center;

    &.is-active {
      @include ruleMin(background-color, (xs: $color-white, md: $color-silk-rich));
      @include ruleMin(color, (md: $color-white));
    }
  }

  .container {
    @include rule(padding, (md: 0));
  }
}
