.popup-phones {
  $b: &;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 45px 40px 36px;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 128px;
    height: 128px;
    fill: $color-basic;
  }

  &__phones {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 34px;
  }

  &__link {
    display: inline-block;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 300;
    color: $color-basic;
  }
}
