.section {
  $b: &;

  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__head {
    display: block;
    width: 100%;

    .text-block {
      max-width: 950px;
      margin: 0 auto;
    }
  }

  &__content {
    display: block;
    width: 100%;

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 28px, sm: 47px));
    }
  }

  &__column {
    display: flex;

    @include ruleMin(width, (xs: 100%, sm: 50%));

    &_order2 {
      @include ruleMin(order, (xs: 2, sm: inherit));
    }

    .container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__media {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    @include ruleMin(height, (xs: 286px, sm: auto));
    @include ruleMin(padding-top, (sm: 74.2%));

    &_small {
      @include ruleMin(padding-top, (sm: 56.2%));
    }
  }

  &__image {
    font-size: 0;
    line-height: 0;
    display: block;

    @include fill-img;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    visibility: hidden;
    pointer-events: none;
    transition: transform $ease-main, visibility 0s ease;
    transition-delay: 0, .3s;
    transform: translate3d(0, -100%, 0);

    &.is-active {
      visibility: visible;
      pointer-events: auto;
      transform: translate3d(0, 0, 0);
    }
  }

  &_chess {

    .container {
      @include ruleMin(padding-top, (xs: 20px, sm: 40px));
      @include ruleMin(padding-bottom, (xs: 35px, sm: 40px));
    }
  }

  &_mc {

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 28px, sm: 34px));
    }
  }

  &_order {
    position: relative;

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 11px, sm: 80px));
    }

    .text-block__button {
      @include ruleMin(min-width, (xs: 100%, sm: 364px));
    }
  }
}
