extends ../../layouts/default

block head
  - var pageTitle = Electrolux

block content
  +lead
  +section._mc#mc(data-section)
    +section-head
      .container
        +text-block._centered
          +text-block-text._fz20._fw400._blue
            p Скорее всего, вы даже не подозреваете о своих кулинарных суперспособностях и не используете все возможности своей кухонной техники на максимум. Мы вам всё расскажем и покажем.
          +text-block-title Расписание мастер&#8209;классов
          +text-block-text._fz20._fw400._blue
            p Вителло тоннато, спанакопита, том&#8209;ям, смёрребрёд с гуакамоле, или шведские фрикадельки, ватрушки с голубикой и деревенский пирог с помидорами? Вы сможете приготовить блюда европейской, кавказской или азиатской кухни, очень простые и быстрые, или замысловатые и требующие терпения. Смотрите расписание мастер&#8209;классов и выбирайте то, что вам особенно интересно.
    +section-content
      +filters
      +master-classes
  +navigation
  +section._kitch#kitchen-msc(data-section)
    +section-head
      .container
        +text-block._centered
          +text-block-text._fz20._fw400._blue
            p Наши мастер&#8209;классы проходят в кулинарных студиях в Москве и на «Розе Хутор», которые оборудованы самыми современными моделями техники Electrolux.
    +section-content
      +section._chess
        +section-column._order2
          .container.container_half.container_end
            +text-block
              +text-block-title._fz40 Демонстрационный центр в Москве
              +text-block-text
                p Многим уже знаком московский Демонстрационный центр Electrolux: здесь, на просторной стильной кухне, оборудованной новейшей техникой, получаются самые вкусные блюда и самые красивые фотографии. Вы можете познакомиться со всеми моделями и получить промо&#8209;код на скидку, если решите что&#8209;то приобрести.
                p Демонстрационном центр Electrolux находится по адресу Шлюзовая набережная, д.&nbsp;6, стр.&nbsp;4.
              +e.buttons
                +button().__button.js-show-map(href="#map_msc") Где находится
        +section-column
          +section-media._small
            +slider(true).__slider
              +slide
                +e.IMG.image(src="assets/images/kitchen-msc.jpg")
              +slide
                +e.IMG.image(src="assets/images/kitchen-rh.jpg")
              +slide
                +e.IMG.image(src="assets/images/kitchen-msc.jpg")
              +slide
                +e.IMG.image(src="assets/images/kitchen-rh.jpg")
            +map.__map#map_msc(data-balloon-title="Адрес нашего центра:" data-balloon-address="Шлюзовая набережная д. 6 стр. 4" data-balloon-describe="(вход со стороны Шлюзовой набережной, у КПП со шлагбаумом). Вход без пропуска.")
      +section._chess
        +section-column
          +section-media._small
            +slider(true).__slider
              +slide
                +e.IMG.image(src="assets/images/kitchen-rh.jpg")
              +slide
                +e.IMG.image(src="assets/images/kitchen-msc.jpg")
              +slide
                +e.IMG.image(src="assets/images/kitchen-rh.jpg")
              +slide
                +e.IMG.image(src="assets/images/kitchen-msc.jpg")
            +map.__map#map_rh(data-balloon-title="Адрес нашего центра:" data-balloon-address="с. Эстосадок, Роза Хутор, ул. Каменка, 2" data-balloon-describe="Ежедневно с 12:00 до 21:00")
        +section-column
          .container.container_half.container_start
            +text-block
              +text-block-title._fz40 Активная студия Electrolux на «Розе&nbsp;Хутор»
              +text-block-text
                p Всех, кто планирует провести этот сезон на склонах «Розы&nbsp;Хутор», мы приглашаем в Активную студию Electrolux. Это совершенно новое пространство, которое будет работать весь зимний сезон, с 21 декабря 2019 до 15 апреля 2020 года. Мы привезли сюда лучшие модели техники и много, очень много секретных ингредиентов для наших чудесных блюд. Встречаемся по адресу с. Эстосадок, Роза Хутор, ул. Каменка, 2.
              +e.buttons
                +button().__button.js-show-map(href="#map_rh") Где находится
  +section._chess#childrens-mc(data-section)
    +section-column._order2
      .container.container_half.container_end
        +text-block
          +text-block-title._fz40 Детские мастер&#8209;классы
          +text-block-text
            p Мы знаем, что дети обожают готовить. Смешно испачкаться мукой, взбить огромное кремовое облако, придумать миллион вариантов украшения — это ли не восторг!
            p Для маленьких кулинаров у нас есть специальное меню рецептов — самые вкусные, полезные и весёлые блюда. Дети будут готовить под руководством профессионального шеф&#8209;повара, а потом все вместе продегустируют свои шедевры за обедом.
    +section-column
      +section-media
        +e.IMG.image(src="assets/images/childes-mk.jpg")
  +section._chess#chef(data-section)
    +section-column
      +section-media
        +e.IMG.image(src="assets/images/chef.jpg")
    +section-column
      .container.container_half.container_start
        +text-block
          +text-block-title._fz40 Бренд&#8209;шеф Олег Туркин
          +text-block-text
            p Программа мастер&#8209;классов разработана бренд&#8209;шефом Electrolux Олегом Туркиным. На протяжении многих лет он придумывает оригинальные авторские рецепты и создаёт блюда, о которых ходят легенды. Теперь Олег готов поделиться своим мастерством с вами.
            p Мясо су&#8209;вид, нежнейшие супы, секретные соусы и умопомрачительные десерты — вы сможете готовить всё это дома хоть каждый день. Приходите сами, зовите друзей, берите детей — это будет очень интересно, полезно и весело!
  +section._chess#whiterabbit(data-section)
    +section-column._order2
      .container.container_half.container_end
        +text-block
          +text-block-title White Rabbit Family
          +text-block-text
            p White Rabbit Family - российская группа компаний, основанная Борисом Зарьковым в 2010 году. Бренд-шеф White Rabbit Family Владимир Мухин - один из самых выдающихся российских шефов.
            p Рестораны холдинга отмечены престижными российскими и международными рейтингами, авторитетные европейские гиды рекомендуют их иностранным туристам. В 2019 году ресторан White Rabbit занял 13-е место  The World’s 50 Best Restaurants , а ресторан Selfie  65-е место.
            p При чеке на 4000 рублей в ресторане на Роза Хутор  вместе со счётом Вы получаете приглашение в Активную Студию Electrolux на кулинарный мастер класс.
    +section-column
      +section-media
        +e.IMG.image(src="assets/images/white-rabbit.jpg")
  +section._order#order(data-section)
    +section-head
      .container
        +text-block._centered
          +text-block-title Записаться на мастер&#8209;класс
          +text-block-text._bmg Готовить, как шеф&#8209;повар, может каждый. Запишитесь на кулинарный мастер&#8209;класс прямо сейчас.
          +e.buttons
            +button().__button.js-show-orderform(href="#") Записаться на мастер-класс
    .container
      +order-form
