extends ../../layouts/default

block head
  - var pageTitle = Electrolux

block content
  +lead
  +section#mk(data-section)
    +section-head
      .container
        +text-block._centered
          +text-block-text._fz20._fw400._blue
            p Приходите на наши мастер&#8209;классы и&nbsp;мы покажем вам на что способна наша бытовая техника, а&nbsp;также научим готовить вас дома, как в&nbsp;ресторане.
          +text-block-title Расписание мастер&#8209;классов
    +section-content
  +navigation
  +section#kitchen-msc(data-section)
    +section._chess
      +section-column._order2
        .container.container_half.container_end
          +text-block
            +text-block-title._fz40 Наши кулинарные пространства в&nbsp;Москве
            +text-block-text
              p Брэнд&#8209;шеф компании Electrolux c многолетний опытом работы в профессиональной технике, поделится своими секретами и научит Вас, как просто и технологично использовать технику Electrolux у себя дома, а также поможет определиться с выбором и даст полезные советы.
              p Правильно подготовить ингредиенты, выбрать нужные режимы духовки и варочной панели, разобраться в настройках, применить термощуп, сделать красивую
            +e.buttons
              +button().__button.js-show-map(href="#map_msc") Где находится
      +section-column
        +section-media._small
          +slider(true).__slider
            +slide
              +e.IMG.image(src="assets/images/kitchen-msc.jpg")
            +slide
              +e.IMG.image(src="assets/images/kitchen-rh.jpg")
            +slide
              +e.IMG.image(src="assets/images/kitchen-msc.jpg")
            +slide
              +e.IMG.image(src="assets/images/kitchen-rh.jpg")
          +map.__map#map_msc(data-balloon-title="Адрес нашего центра:" data-balloon-address="Шлюзовая набережная д. 6 стр. 4" data-balloon-describe="(вход со стороны Шлюзовой набережной, у КПП со шлагбаумом). Вход без пропуска.")
    +section._chess
      +section-column
        +section-media._small
          +slider(true).__slider
            +slide
              +e.IMG.image(src="assets/images/kitchen-rh.jpg")
            +slide
              +e.IMG.image(src="assets/images/kitchen-msc.jpg")
            +slide
              +e.IMG.image(src="assets/images/kitchen-rh.jpg")
            +slide
              +e.IMG.image(src="assets/images/kitchen-msc.jpg")
          +map.__map#map_rh(data-balloon-title="Адрес нашего центра:" data-balloon-address="с. Эстосадок, Роза Хутор, ул. Каменка, 2" data-balloon-describe="Ежедневно с 12:00 до 21:00")
      +section-column
        .container.container_half.container_start
          +text-block
            +text-block-title._fz40 Активная студия Electrolux на&nbsp;Роза&nbsp;Хутор
            +text-block-text
              p Кулинарные мастер&#8209;классы для детей и взрослых, где вы сможете приятно и полезно провести время: правильно подготовить ингредиенты, выбрать нужные режимы приготовления и красиво подать блюдо. Всё это под чутким руководством бренд&#8209;шефа Electrolux.
            +e.buttons
              +button().__button.js-show-map(href="#map_rh") Где находится
  +section._chess#childrens-mk(data-section)
    +section-column._order2
      .container.container_half.container_end
        +text-block
          +text-block-title._fz40 Мастер&#8209;классы<br>для детей
          +text-block-text
            p Брэнд&#8209;шеф компании Electrolux c многолетний опытом работы в профессиональной технике, поделится своими секретами и научит Вас, как просто и технологично использовать технику Electrolux у себя дома, а также поможет определиться с выбором и даст полезные советы.
            p Правильно подготовить ингредиенты, выбрать нужные режимы духовки и варочной панели, разобраться в настройках, применить термощуп, сделать красивую подачу — вам предстоит пройти весь процесс приготовления блюд от начала до конца, чтобы без труда повторить их дома.
    +section-column
      +section-media
        +e.IMG.image(src="assets/images/childes-mk.jpg")
  +section._chess#chef(data-section)
    +section-column
      +section-media
        +e.IMG.image(src="assets/images/chef.jpg")
    +section-column
      .container.container_half.container_start
        +text-block
          +text-block-title._fz40 Олег Туркин
          +text-block-text
            p Брэнд&#8209;шеф компании Electrolux c многолетний опытом работы в профессиональной технике, поделится своими секретами и научит Вас, как просто и технологично использовать технику Electrolux у себя дома, а также поможет определиться с выбором и даст полезные советы.
            p Правильно подготовить ингредиенты, выбрать нужные режимы духовки и варочной панели, разобраться в настройках, применить термощуп, сделать красивую подачу — вам предстоит пройти весь процесс приготовления блюд от начала до конца, чтобы без труда повторить их дома.
  +section._chess#whiterabbit(data-section)
    +section-column._order2
      .container.container_half.container_end
        +text-block
          +text-block-title White Rabbit Family
          +text-block-text
            p White Rabbit Family - российская группа компаний, основанная Борисом Зарьковым в 2010 году. Бренд-шеф White Rabbit Family Владимир Мухин - один из самых выдающихся российских шефов.
            p Рестораны холдинга отмечены престижными российскими и международными рейтингами, авторитетные европейские гиды рекомендуют их иностранным туристам. В 2019 году ресторан White Rabbit занял 13-е место  The World’s 50 Best Restaurants , а ресторан Selfie  65-е место.
            p При чеке на 4000 рублей в ресторане на Роза Хутор  вместе со счётом Вы получаете приглашение в Активную Студию Electrolux на кулинарный мастер класс.
    +section-column
      +section-media
        +e.IMG.image(src="assets/images/white-rabbit.jpg")
  +section#order(data-section)
    +section-head
      .container
        +text-block._centered
          +text-block-title Получить мастер&#8209;класс
          +text-block-text Вы купили духовой шкаф с функцией пара и хотите освоить все возможности новой техники? Или, может, только выбираете подходящую модель, и вам интересно увидеть духовки и варочные поверхности Electrolux в деле? Тогда смело записывайтесь на кулинарный мастер&#8209;класс.
          +e.buttons
            +button().__button.js-show-orderform(href="#") Записаться на мастер-класс
    +section-content
