extends ../../layouts/default

block head
  - var pageTitle = Electrolux

block content
  +side-feedback
  +lead
  +section#mk
  +navigation
  +chess-section#kitchen-msc
  +chess-section#kitchen-rh
  +chess-section#childrens-mk
  +chess-section#chef
  +section#order
