.page {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow: hidden;
  $b: &;

  @include ruleMin(padding-top, (xs: 60px, sm: 110px));
  @include ruleMin(padding-bottom, (xs: 60px, sm: 80px, md: 120px));

  &_fxp {
    @include ruleMin(padding-top, (xs: 72px, sm: 80px, md: 110px));
  }
}
