mixin mc-select()
  +b.DIV.mc-select__.js-mc-select&attributes(attributes)
    +e.head(data-head)
      +e.label(data-label)
      +e.placeholder Выберите мастер-класс из списка
      +e.toggle
        +icon('arrow').__icon
    +e.dropdown.js-scrollbar
      +e.UL.list
        block

mixin mc-select-item(data)
  +e.LI.item
    +mc-radio('mc', data)(data-select-item)

mixin ui-kit-mc-select()
  +ui-section
    +ui-section-head
      +ui-title Блок mc-select
      +ui-path
        p Блок: blocks/mc-select/mc-select
      +ui-description
        p Описание Блока

    +ui-section-content()
      +mc-select
        each item in getData('cases-short')
          +mc-select-item(item)

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
