mixin burger()
  +b.BUTTON.burger&attributes(attributes)
    span
    block

mixin ui-kit-burger()
  +ui-section
    +ui-section-head
      +ui-title Блок burger
      +ui-path
        p Блок: blocks/burger/burger
      +ui-description
        p Описание Блока

    +ui-section-content()
      +burger

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
