mixin spoiler()
  +b.BUTTON.spoiler&attributes(attributes).js-show-more
    +icon('arrow').__icon
    block

mixin ui-kit-spoiler()
  +ui-section
    +ui-section-head
      +ui-title Блок spoiler
      +ui-path
        p Блок: blocks/spoiler/spoiler
      +ui-description
        p Описание Блока

    +ui-section-content()
      +spoiler

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
