@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-slide--html {
  padding: 20px;
}

.fancybox-slide--html .fancybox-close-small {
  color: $color-cross-dark;
  padding: 8px;
  outline: none;
  right: 2px;
  top: 8px;

  &:focus {
    outline: none;
  }

  &:focus::after { outline: none; }

  svg {
    fill: currentColor;
  }
}

.fancybox-is-open .fancybox-bg {
  background-color: #000;
  opacity: .6;
}

.fancybox-enabled { overflow: initial; }
