// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1200px; // Максимальная ширина контейнера контента
$container-padding: 20px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 28px; // Расстояние между колонками
$grid-gap-vertical: 28px; // Расстояние между строками в сетке
$breakpoints: (
  'xl': 1920px,
  'lg': 1200px,
  'md': 1024px,
  'sm': 768px,
  'xs': 320px
);

// ##########
// Цвета
// ##########
$color-basic: #2f2f2f; // Основной цвет текста (применяется к body)
$color-placeholder: #aaa; // Основной цвет для placeholder
$color-input: #4f4e53; // Основной цвет input, select и textarea
$color-main: #011e41; // Основной фирменный цвет
$color-border: #d8d8d8; // Основной цвет границ таблиц, секций
$color-silk-rich: #2b2936;
$color-blue-mid: #7a8a9c;
$color-white: #fff;
$color-bg-gray: #f4f4f4;
$color-bg-gray2: #f4f5f4;
$color-checkbox-text: #848484;
$color-note-text: #929292;
$color-error-bubble: #fdeceb;
$color-error-text: #504f54;
$color-form-border: #cbcfd2;
$color-red: #af1930;
$color-cross-dark: #191918;
$color-light-gray: #d9d9d9;
$color-dark-text: #3b3d3a;
$color-header-shadow: #dcdcdc;
$color-gray-text: #646569;
$color-scroll-gray: #bfc9d6;
$color-days: #656565;
$color-days-disabled: #cacaca;

// ##########
// Массив цветов для UI-кита
// ##########
$colors: (
  '$color-basic': #2f2f2f,
  '$color-placeholder': #aaa,
  '$color-input': #4f4e53,
  '$color-main': #011e41,
  '$color-border': #d8d8d8,
  '$color-silk-rich': #2b2936,
  '$color-blue-mid': #7a8a9c,
  '$color-white': #fff,
  '$color-bg-gray': #f4f4f4,
  '$color-bg-gray2': #f4f5f4,
  '$color-error-bubble': #fdeceb,
  '$color-error-text': #504f54,
  '$color-checkbox-text': #848484,
  '$color-note-text': #929292,
  '$color-form-border': #cbcfd2,
  '$color-red': #af1930,
  '$color-cross-dark': #191918,
  '$color-light-gray': #d9d9d9,
  '$color-dark-text': #3b3d3a,
  '$color-header-shadow': #dcdcdc,
  '$color-gray-text': #646569,
  '$color-scroll-gray': #bfc9d6,
  '$color-days': #656565,
  '$color-days-disabled': #cacaca,
);

// ##########
// Transitions
// ##########
$ease-main: .2s ease;

// ##########
// Шрифты
// ##########
$font-main: 'Electrolux', Arial, sans-serif; // Основной шрифт сайта

// ##########
// Цвета для UI-кита (удалить, если он отсутствует)
// ##########
$ui-kit-bg: white; // Фон кита
$ui-kit-color-text: black; // Цвет текста
$ui-kit-color-gray: #ccc; // Цвет границ
$ui-kit-color-darkbg: #111; // Фон темной секции
