.filters {
  $b: &;

  display: block;
  position: relative;
  z-index: 3;
  width: 100%;

  @include screen('sm') {
    margin-top: 30px;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include ruleMin(flex-wrap, (xs: wrap, sm: nowrap));
  }

  &__item {
    display: block;
    width: 100%;

    @include screen('sm', min) {
      flex: 1;
    }

    &:not(:last-child) {
      @include ruleMin(margin-right, (sm: 30px));
      @include ruleMin(margin-bottom, (xs: 32px, sm: 0));
    }

    .inputbox {

      &__wrapper {
        width: 100%;

        @include screen('md', min) {
          max-width: 364px;
        }
      }
    }

    &:last-child .inputbox {
      justify-content: flex-end;
    }
  }

  &__clear {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 100%;
    right: 0;

    @include ruleMin(margin-bottom, (xs: 10px, sm: 15px));
  }

  &__reset {
    display: inline-block;
    margin-left: auto;
    color: $color-collapse;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    border-bottom: 1px solid currentColor;
  }
}
