mixin filters()
  +b.FORM.filters&attributes(attributes)
    .container
      +e.item
        +inputbox._row
          +label Показать Мастер-классы в
          +input-wrapper
            +select()(name="location" data-filter-location)
              option(value="" placeholder) Выберите город
              option(value="1") Москва
              option(value="2") Роза Хутор
      +e.item
        +inputbox._row
          +label В период
          +input-wrapper._flex
            +e.date.js-datepicker
              +input.input_time(type="text" name="startDate" placeholder="Дата приезда"  data-date data-filter-start-date data-type="date2").js-show-datepicker
            +e.date.js-datepicker
              +input.input_time(type="text" name="endDate" placeholder="Дата отъезда"  data-date data-filter-end-date data-type="date2").js-show-datepicker
    +e.clear
      .container
        +e.BUTTON.reset.js-reset-filter(type="reset")
          +e.text Сбросить все
    block

mixin ui-kit-filters()
  +ui-section
    +ui-section-head
      +ui-title Блок filters
      +ui-path
        p Блок: blocks/filters/filters
      +ui-description
        p Описание Блока

    +ui-section-content()
      +filters

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
