mixin lead()
  +b.SECTION.lead&attributes(attributes)
    .container
      +e.content
        +e.H1.title Готовьте, как <br>шеф&#8209;повар!
        +e.text
          p Профессиональный и быстрый ремонт бытовой техники от наших <span class="lead__spoiler" data-spoiler-content="lead">сертифицированных мастеров, который вы можете заказать и оплатить прямо сейчас!</span>
        +spoiler().__more.is-hidden-xl(data-spoiler="lead")
    block

mixin lead-fxp()
  +b.SECTION.lead_fxp&attributes(attributes)
    .container.container_fxp
      +e.content
        +e.H1.title Новая удобная услуга от&nbsp;Electrolux
        +e.text
          p Профессиональный и быстрый ремонт бытовой техники от наших <span class="lead__spoiler" data-spoiler-content="lead">сертифицированных мастеров, который вы можете заказать и оплатить прямо сейчас!</span>
        +spoiler().spoiler_blue.__more.is-hidden-xl(data-spoiler="lead")
    block

mixin ui-kit-lead()
  +ui-section
    +ui-section-head
      +ui-title Компонент lead
      +ui-path
        p Компонент: components/lead/lead
      +ui-description
        p Описание компонента

    +ui-section-content()
      +lead

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
