mixin lead()
  +b.SECTION.lead&attributes(attributes)
    .container
      +e.content
        +e.H1.title Готовьте, как <br>шеф&#8209;повар!
        +e.text
          p Electrolux представляет серию кулинарных мастер&#8209;классов, <span class="lead__spoiler" data-spoiler-content="lead">которые одинаково полезны тем, кто любит готовить, и тем, у кого не получается пожарить даже яичницу.</span>
        +spoiler().__more.is-hidden-xl(data-spoiler="lead")
    block

mixin ui-kit-lead()
  +ui-section
    +ui-section-head
      +ui-title Компонент lead
      +ui-path
        p Компонент: components/lead/lead
      +ui-description
        p Описание компонента

    +ui-section-content()
      +lead

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
