.lead {
  $b: &;

  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-image: url('../images/lead.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include ruleMin(background-position, (xs: 75% 50%, sm: 50% 50%));
  @include ruleMin(min-height, (xs: 405px, sm: 34.6vw));
  @include ruleMin(padding, (xs: 30px 0));

  &__content {
    position: relative;
    display: block;
    background-color: rgba($color-white, .9);
    box-sizing: border-box;
    width: 100%;

    @include ruleMin(max-width, (xs: 270px, sm: 560px));
    @include ruleMin(padding, (xs: 25px 20px 30px, sm: 46px 46px 48px));
  }

  &__spoiler {
    @include ruleMin(display, (xs: none, sm: inline !important));
  }

  &__title {
    display: block;
    font-weight: 600;

    @include ruleMin(font-size, (xs: 24px, sm: 48px));
    @include ruleMin(line-height, (xs: 28px, sm: 60px));
  }

  &__text {
    display: block;
    font-weight: 300;

    @include ruleMin(font-size, (xs: 15px, sm: 18px));
    @include ruleMin(line-height, (xs: 20px, sm: 1.25));

    &:not(:first-child) {
      @include ruleMin(margin-top, (xs: 15px, sm: 34px));
    }
  }

  &__more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 50%, 0);
  }

  .container {
    position: relative;
    z-index: 2;

    @include screen('sm', min) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &_fxp {
    background-image: url('../images/fxp/fxp-lead.jpg');
  }
}
