mixin lead()
  +b.SECTION.lead&attributes(attributes)
    .container
      +e.content
        +e.H1.title Готовьте дома, <br> как в ресторане
        +e.text
          p Наш столетний опыт и&nbsp;богатое наследие в&nbsp;области работы с&nbsp;
            +e.SPAN.spoiler(data-spoiler-content="lead") профессиональными шеф&#8209;поварами позволили нам получить знания, которые мы&nbsp;применяем в&nbsp;нашей кухонной технике, позволяя вам максимально использовать все возможности кухни у&nbsp;вас дома.
        +spoiler().__more.is-hidden-xl(data-spoiler="lead")
    block

mixin ui-kit-lead()
  +ui-section
    +ui-section-head
      +ui-title Компонент lead
      +ui-path
        p Компонент: components/lead/lead
      +ui-description
        p Описание компонента

    +ui-section-content()
      +lead

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
