mixin logo()
  +b.logo&attributes(attributes)
    +e.A.item(href="https://www.electrolux.ru")
      +e.IMG.image_electrolux(src="assets/images/logo.svg")
    +e.A.item(href="https://www.aeg.ru")
      +e.IMG.image_aeg(src="assets/images/logo-aeg.svg")
    block

mixin ui-kit-logo()
  +ui-section
    +ui-section-head
      +ui-title Блок logo
      +ui-path
        p Блок: blocks/logo/logo
      +ui-description
        p Описание Блока

    +ui-section-content()
      +logo
      +logo._footer

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
