include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/link/link
include ../blocks/map/map
include ../blocks/popups/popups
include ../blocks/rating/rating
include ../blocks/slider/slider
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/accordion/accordion
include ../blocks/button/button
include ../blocks/scrollbar/scrollbar
include ../blocks/tooltip/tooltip
include ../blocks/dropdown/dropdown
include ../blocks/form/form
include ../blocks/content-zone/content-zone
include ../components/header/header
include ../components/footer/footer
include ../components/page/page
include ../blocks/burger/burger
include ../blocks/navigation/navigation
include ../blocks/logo/logo
include ../blocks/header-phone/header-phone
include ../components/side-feedback/side-feedback
include ../blocks/totop/totop
include ../components/lead/lead
include ../blocks/section/section
include ../blocks/chess-section/chess-section