include _externalIncludes
include _internalIncludes

doctype html
html(lang='ru')
  include head
  body
    +header
    +side-feedback
    +feedback-form
    +page
      block content
    +footer
    +popups
      +popup-phones#popup-phones
    script(src='assets/scripts/app.min.js')
    script(src="https://api-maps.yandex.ru/2.1/?apikey=9971b6ff-9a4d-4940-aaa6-9b7f3bdb8ee8&lang=ru_RU")
    script(src='assets/scripts/libs/parsley.min.js')
    script(src='assets/scripts/main.js')
