@import '../../node_modules/overlayscrollbars/css/OverlayScrollbars.min.css';

//your theme name
$theme-name: os-theme-electrolux;

//horizontal scrollbar
$scrollbar-horizontal-size: 2px; //horizontal scrollbar height
$scrollbar-horizontal-padding: 1px;
$scrollbar-horizontal-inner-expansion: 0;
$scrollbar-horizontal-track-background: $color-white;
$scrollbar-horizontal-track-background-hover: $color-white;
$scrollbar-horizontal-track-background-active: $color-white;
$scrollbar-horizontal-track-transition: background-color .3s;
$scrollbar-horizontal-handle-min-size: 25px; //horizontal scrollbar handle min width
$scrollbar-horizontal-handle-max-size: none; //horizontal scrollbar handle max width
$scrollbar-horizontal-handle-background: $color-scroll-gray;
$scrollbar-horizontal-handle-background-hover: $color-main;
$scrollbar-horizontal-handle-background-active: $color-main;
$scrollbar-horizontal-handle-transition: background-color .3s;

//vertical scrollbar
$scrollbar-vertical-size: 2px; //vertical scrollbar width
$scrollbar-vertical-padding: 1px;
$scrollbar-vertical-inner-expansion: 0;
$scrollbar-vertical-track-background: $color-white;
$scrollbar-vertical-track-background-hover: $color-white;
$scrollbar-vertical-track-background-active: $color-white;
$scrollbar-vertical-track-transition: background-color .3s;
$scrollbar-vertical-handle-min-size: 25px; //vertical scrollbar handle min height
$scrollbar-vertical-handle-max-size: none; //vertical scrollbar handle max height
$scrollbar-vertical-handle-background: $color-scroll-gray;
$scrollbar-vertical-handle-background-hover: $color-main;
$scrollbar-vertical-handle-background-active: $color-main;
$scrollbar-vertical-handle-transition: background-color .3s;

//scrollbar corner
$scrollbar-corner-background-color: transparent;

.#{$theme-name} > .os-scrollbar-horizontal {
  right: $scrollbar-vertical-size + ($scrollbar-vertical-padding * 2);
  height: $scrollbar-horizontal-size;
  padding: $scrollbar-horizontal-padding;
  background: transparent;
}

.#{$theme-name} > .os-scrollbar-vertical {
  bottom: $scrollbar-horizontal-size + ($scrollbar-horizontal-padding * 2);
  width: $scrollbar-vertical-size;
  padding: $scrollbar-vertical-padding;
  background: transparent;
}

.#{$theme-name}.os-host-rtl > .os-scrollbar-horizontal {
  left: $scrollbar-vertical-size + ($scrollbar-vertical-padding * 2);
  right: 0;
}

.#{$theme-name} > .os-scrollbar-corner {
  height: $scrollbar-horizontal-size + ($scrollbar-horizontal-padding * 2);
  width: $scrollbar-vertical-size + ($scrollbar-vertical-padding * 2);
  background-color: $scrollbar-corner-background-color;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track {
  background: $scrollbar-horizontal-track-background;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track {
  background: $scrollbar-vertical-track-background;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track:hover {
  background: $scrollbar-horizontal-track-background-hover;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track:hover {
  background: $scrollbar-vertical-track-background-hover;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track.active {
  background: $scrollbar-horizontal-track-background-active;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track.active {
  background: $scrollbar-vertical-track-background-active;
}

.#{$theme-name}.os-host-transition > .os-scrollbar-horizontal > .os-scrollbar-track {
  transition: $scrollbar-horizontal-track-transition;
}

.#{$theme-name}.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track {
  transition: $scrollbar-vertical-track-transition;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle::before,.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle::before {
  top: -$scrollbar-horizontal-inner-expansion;
  bottom: -$scrollbar-horizontal-padding;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle::before {
  left: -$scrollbar-vertical-inner-expansion;
  right: -$scrollbar-vertical-padding;
}

.#{$theme-name}.os-host-rtl > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle::before {
  right: -$scrollbar-vertical-inner-expansion;
  left: -$scrollbar-vertical-padding;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
  border-radius: $scrollbar-horizontal-size;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  border-radius: $scrollbar-vertical-size;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
  min-width: $scrollbar-horizontal-handle-min-size;
  max-width: $scrollbar-horizontal-handle-max-size;
  background: $scrollbar-horizontal-handle-background;

  &::before {
    background: $scrollbar-horizontal-handle-background;
  }
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  min-height: $scrollbar-vertical-handle-min-size;
  max-height: $scrollbar-vertical-handle-max-size;
  background: $scrollbar-vertical-handle-background;

  &::before {
    background: $scrollbar-vertical-handle-background;
  }
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle:hover {
  background: $scrollbar-horizontal-handle-background-hover;

  &::before {
    background: $scrollbar-horizontal-handle-background-hover;
  }
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle:hover {
  background: $scrollbar-vertical-handle-background-hover;

  &::before {
    background: $scrollbar-vertical-handle-background-hover;
  }
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle.active {
  background: $scrollbar-horizontal-handle-background-active;

  &::before {
    background: $scrollbar-horizontal-handle-background-active;
  }
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle.active {
  background: $scrollbar-vertical-handle-background-active;

  &::before {
    background: $scrollbar-vertical-handle-background-active;
  }
}

.#{$theme-name}.os-host-transition > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
  transition: $scrollbar-horizontal-handle-transition;

  &::before {
    transition: $scrollbar-horizontal-handle-transition;
  }
}

.#{$theme-name}.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  transition: $scrollbar-vertical-handle-transition;

  &::before {
    transition: $scrollbar-vertical-handle-transition;
  }
}
