mixin slider(buttons)
  +b.slider&attributes(attributes).swiper-container.js-slider
    .swiper-wrapper
      block
    if buttons
      +e.navigation
        +e.button._prev
          +icon('arrow').__icon
        +e.button._next
          +icon('arrow').__icon

mixin slide()
  +e.slide&attributes(attributes).swiper-slide
    block

mixin ui-kit-slider
  +ui-section
    +ui-section-head
      +ui-title Слайдер
      +ui-path
        p Блок: blocks/slider/slider
      +ui-description
        p
          a(href="https://idangero.us/swiper/api/" target="_blank") Документация

    +ui-section-content()
      +slider(true, true)
        +slide(style="background-color: pink") Слайд 1
        +slide(style="background-color: yellow") Слайд 2
        +slide(style="background-color: olive") Слайд 3
        +slide(style="background-color: silver") Слайд 4

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
