@import '../../node_modules/swiper/css/swiper.css';

.slider {
  $b: &;

  &__slide {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
  }

  &__image {
    display: block;
    font-size: 0;
    line-height: 0;

    @include fill-img;
  }

  &__navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__icon {
    width: 12px;
    height: 24px;
    fill: $color-white;
    font-size: 0;
    line-height: 0;
    transform-origin: 50% 50% 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    font-size: 0;
    line-height: 0;
    transition: opacity $ease-main;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    z-index: 1;
    box-sizing: border-box;

    @include ruleMin(padding, (xs: 6px, sm: 40px));

    &:hover { opacity: .8; }

    &_next {
      justify-content: flex-end;
    }

    &_prev {
      #{$b}__icon {
        transform: rotate(180deg);
      }
    }
  }
}
